1. My Project is vote system based on blockchain tech 
2. my system is formed to 4 layers (blockchain-kyc--frontend -backend)
3. the frontend techstack is (react - nextjs - shadcn- tailwindcss)
4. the backend techstack is (nodejs - express - typescript - mongoDB)
5. the blockchain tech is (solidity - truffle -)
6. the kyc is (python )


