# Dependency directories
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Coverage directory
coverage/

# Temporary files
.tmp/
tmp/
temp/

# Local development files
.DS_Store
Thumbs.db 